[submodule "front-end/bloco-18-context-api-e-react-hooks/dia-1-context-api-do-react/front-end/bloco-18-context-api-e-react-hooks/dia-1-context-api-do-react/exercise-contextAPI-refactoring"]
	path = front-end/bloco-18-context-api-e-react-hooks/dia-1-context-api-do-react/front-end/bloco-18-context-api-e-react-hooks/dia-1-context-api-do-react/exercise-contextAPI-refactoring
	url = https://github.com/cristianocsl/exercise-contextAPI-refactoring.git
[submodule "front-end/bloco-18-context-api-e-react-hooks/front-end/bloco-18-context-api-e-react-hooks/dia-1-context-api-do-react/exercise-contextAPI-refactoring"]
	path = front-end/bloco-18-context-api-e-react-hooks/front-end/bloco-18-context-api-e-react-hooks/dia-1-context-api-do-react/exercise-contextAPI-refactoring
	url = https://github.com/cristianocsl/exercise-contextAPI-refactoring.git
