[submodule "front-end/bloco-18-context-api-e-react-hooks/front-end/bloco-15-testes-automatizados-com-react-testing-library/dia-1-rtl-primeiros-passos/exercise-todo-list"]
	path = front-end/bloco-18-context-api-e-react-hooks/front-end/bloco-15-testes-automatizados-com-react-testing-library/dia-1-rtl-primeiros-passos/exercise-todo-list
	url = git@github.com:tryber/exercise-todo-list.git
