<!doctype html>
<html>
<head>
  <title>Document</title>
</head>
<body>
  <ul>
    <li>
      <% authors.forEach((author) => { %>
        <li><%= author.name %></li>
      <% }) %>
    </li>
  </ul>
</body>
</html>