.super-mario {
    position: absolute;
    z-index: 1;
    left: 120px;
}

.goomba {
    position: absolute;
    top: 1150px;
}

.bowser {
    position: absolute;
    top: 2600px;
    left: 200px;
}

.baloon {
    position: absolute;
    top: 2600px;
    z-index: 2;
}

.word {
    position: absolute;
    top: 2650px;
    z-index: 3;
    left: 50px;
}